.contenedor {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
h2{
    padding: 0.5em;
    text-align: center;
}

.titulo{
    font-weight: bold;
    margin: 1%; 
}

.darkMode{
    color: white;
    background-color: black;
}
.darkMode .card{
    color: black;
}
.darkMode .modal{
    color: black;
}
.busqueda{
    display: flex;
    flex-direction: row;
}

#precioTotal{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
